/* Add this code to your style1.css file */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
	background-size:1500px 700px;
}

nav {
    background: transparent;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration:overline;
}

.menu {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
}

.menu li {
    font-size: 16px;
    padding: 15px 10px;
}

.logo {
    margin-right: auto; /* Push the logo to the left */
}

.button a {
    padding: 10px 20px;
    background-color: #ff4500;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; /* Remove underline from button */
}

.button.secondary a {
    background-color: #008080;
}

.button a:hover {
    background-color: #d14836; /* Change background color on hover */
}

.toggle {
    cursor: pointer;
    margin-left: auto; /* Push the toggle to the right */
}

.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
}

.bars::before, .bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: -5px;
}

.bars::after {
    top: 5px;
}

/* Add this code to your style1.css file */

/* Common styles for navigation */
nav {
    background: dimgrey;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main menu */
.menu {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
}

.menu li {
    font-size: 18px;
    padding: 15px 10px;
}

/* Logo */
.logo {
    margin-right: auto; /* Push the logo to the left */
}

/* Buttons */
.button a {
    padding: 10px 20px;
    background-color: #008080;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s; /* Add transition for smoother hover effect */
}

.button.secondary a {
    background-color: #008080;
}

.button a:hover {
    background-color: white; /* Change background color on hover to white */
    color: #222;
}

/* Toggle button for tablet menu */
.toggle {
    display: none; /* Hide toggle button by default */
    cursor: pointer;
}

/* Menu icon bars */
.bars {
    background: #999;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
}

.bars::before, .bars::after {
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}

.bars::before {
    top: -5px;
}

.bars::after {
    top: 5px;
}

/* Media query for tablet screens */
@media screen and (max-width: 768px) {
    .menu {
        display: none; /* Hide main menu on tablet screens */
    }
    
    .toggle {
        display: block; /* Show toggle button for tablet menu */
        margin-left: auto; /* Align toggle button to the right */
    }
    
    .menu.active {
        display: flex; /* Show menu when toggle button is active */
        flex-direction: column;
        background-color: #222; /* Change background color of tablet menu */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    
    .menu.active li {
        text-align: center; /* Center align menu items */
        padding: 10px 0; /* Adjust padding for menu items */
        border-bottom: 1px solid #444; /* Add border between menu items */
    }
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color:#000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #008080;
}

.heading p{
    font-size: 18px;
    color:#666;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.about-image:hover img{
    transform:scale(1.2);
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008080;
    color: white;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color: white;
    color: #000;
}

@media screen and (max-width:768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

/* Fade animation for slides */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the next button */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Position dots at the bottom */
.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Active dot */
.active, .dot:hover {
    background-color: #717171;
}
#about_section, #portfolio_section, #team_section, #services_section, #contactus_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}
.totalcard {
	width: 100%;
    height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.totalcard .card {
	margin: 50px;
	width: 300px;
    height: 360px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}
.card:nth-child(1){
	border-top: 5px solid green;
}
.card:nth-child(2){
	border-top: 5px solid blue;
}
.card:nth-child(3){
	border-top: 5px solid red;
}
.card:nth-child(1):hover {
	box-shadow: inset 0px 0px 10px rgba(0,255,0,0.5),
				1px 1px 30px rgba(0,255,0,0.5);
}
.card:nth-child(2):hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,255,0.5),
				1px 1px 30px rgba(0,0,255,0.5);
}
.card:nth-child(3):hover {
	box-shadow: inset 0px 0px 10px  rgba(255, 0, 34, 0.5),
				1px 1px 30px rgba(255, 0, 34, 0.5);
}
.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: .8s;
}
.totalcard .card img:hover {
	transform: scale(3.5);
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#detail p{
	font-size: 15px;
	line-height: 25px;
	font-variant: small-caps;
	text-align: center;
	margin: 25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
#detail button {
	outline: none;
	border-radius: 10px;
	border-style: none;
	border: 1px solid black;
	padding: 10px 25px;
	cursor: pointer;
	transition-duration: .4s;
}
#detail a {
	bottom: 80px;
	text-decoration: none;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 90px;
	align-self: center;
}
.btn-roshan:hover {
	background: rgba(0,255,0,0.7);
	color: #fff;
}
.btn-roshan2:hover {
	background: rgba(0,0,255,0.5);
	color: #fff;
}
.btn-roshan3:hover {
	background: rgba(0,0,255,0.5);
	color: #fff;
}
.card-title {
	font-size: 17px;
	color: #343A40;
	padding: 20px;
	font-weight: 700;
}
#makeitfull {
	display: flex;
	justify-content: center;
	transform: translateY(35px);
}
#makeitfull img {
	width: 50px;
}
.review {
	background: transparent;
	width: 100%;
}
.rev-container {
	padding: 10px 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.rev-container .rev-card {
	/*overflow: hidden;*/
	width: 250px;
	height: 240px;
	margin-bottom: 40px;
	background: #fff;
	display: flex;
	padding: 10px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}

.rev-card:hover {
	box-shadow: 1px 1px 5px rgb(0, 0, 0);
	border-top: 5px solid grey;
}
.identity {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.identity img {
	width: 120px;
	height: 120px;
	transition-duration: .8s;
	border-radius: 50%;
}
.identity img:hover {
	transform: scale(2.2);
	border-radius: 0px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.identity p {
	width: 150px;
	font-weight: bold;
	color: #2E3D49;
	text-align: center;
}
.identity h6 {
	width: 150px;
	text-align: center;
}
.identity .rating img {
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.rev-cont {
	overflow: hidden;
}
.rev-cont #title {
	padding: 10px;
	color: #2E3D49;
	font-weight: bold;
}
.rev-cont #content {
	padding: 10px;
	font-size: .9em;
	color: #2E3D49;
	line-height: 22px;
	text-align: justify;
}
.marqu {
	text-align: center;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	padding: 10px;
}

/*FOOTER*/
footer {
	color: #E5E8EF;
	background: #000D;
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 180px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, grey, black);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #343A40;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, grey, black);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}

/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.logo {
		transition: 1s;
		margin-left: 30%;
	}
	nav ul, .srch, .get-started{
		display: none;
	}
	.menu {
		display: block;
	}
	nav {
		padding-bottom: 20px;
		border-bottom: 1px solid #0005;
		/* position: fixed; */
		/* top: 0; */
	}
	.quote p, .quote h5, .play {
		justify-content: center;
		text-align: center;
	}
	.quote p {
		font-size: 30px;
	}
	.service-container .right-side img {
		width: 90%;
	}
	.title {
		margin-top: 0px;
	}
	
}
@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
	.svg-image img {
		width: 90%;
		margin: 20px;
		/* align-self: center; */
	}
}

@media screen and (max-width: 1000px) {	
	.feedbox form input, .feedbox form .fname{
		width: 100%;
	}
}